# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# VS Code
.vscode/
*.code-workspace

# BeautifulSoup
bs4/

# Logs
*.log

# Virtual environment
venv/

# API keys + config files
config.cfg

# Misc
*.csv
.DS_Store
*.txt
*.pdf
test.txt
test.py
test.html